html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

.banner {
  position: relative;
}

.img-flex {
  width: 100%;
  margin: 0;
  display: block;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding: 0 2rem;
  margin: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  padding: 0 2rem;
  margin: 0;
}

.text {
  margin: 0;
  position: absolute;
  bottom: 100px;
}
